
@{
    ViewBag.Title = "Amalgum";
}

<h2>@ViewBag.Title</h2>

<div class="row show">
    <div class="col-lg-3">
        @using (Html.BeginForm("Results",           //action name
                      "Search",           //controller name
                      null,            //explicit null for route values
                      FormMethod.Get,  //explicitly set form method
                      new { @class = "bs-example bs-example-form form-horizontal", role = "form" }))
        {  //explicitly id the form
            //bunch of inputs, a la
            <div class="input-group">
                @Html.TextBox("searchString", ViewBag.FilterString as string, new { @class = "form-control", style = "max-width:initial" })
                <span class="input-group-btn">
                    <input type="submit" value="Search" class="btn btn-default" />
                </span>
            </div>
        }
    </div>
</div>
